.blogHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
    /* width: 70%; */
}

.arrangingBlogs{
    width: 65%;
    margin: auto;
}
.blogs{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}
.blogsText{
    font-size: 15px;
}
.createNewPostButton{
    display: flex;
   /* justify-content: end; */
   background-color: navy;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   padding: 8px 20px;
   /* margin-left:60% ; */
}
hr{
    border: 0.1px solid black;
    /* padding: 0px 10px; */
}
.blogTitle{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px;
}
.blogSection{
    background-color: white;
    padding:0px 10px;
    border-radius: 5px;
}
.blogDesc{
    margin: 10px 0px;
}
.buttonsSection{
    display: flex;
    justify-content: space-between;
}
.likeButton{
    margin-right: 3px;
    padding: 5px 10px;
    background-color: rgb(151, 16, 16);
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom:20px ;
}
.DislikeButton{
    padding: 5px 10px;
    background-color: rgb(35, 130, 13);
    color: white;
    border-radius: 5px;
    border: none;
}
.edit{
    margin-right: 3px;
    padding: 5px 10px;
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    border: none;
}
.delete{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}