.dashboardsection{
    width: 75%;
    margin: auto;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    margin-top: 25px;

    

}


.actionbuttons{
    display: flex;
    justify-content: end;
}
.actionlogin{
    background-color: navy;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin:20px  10px;
}
.actionregister{
    background-color: navy;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin:20px  10px;
}